In [78]:
import os
os.chdir("/home/composersyf/Documents/RelishMBA/MixPanel_Data")

In [79]:
import numpy as np
import pandas as pd
from collections import Counter

In [80]:
import json
with open("All_People_Mixpanel_07_26.json") as people_data:
    people_data=people_data.readlines()[0]
people=json.loads(people_data) #people is stored as a list

In [81]:
import json
with open("All_Events_Mixpanel_07_26.json") as events_data:
    events_data=events_data.readlines()[0]
events=json.loads(events_data) #events is stored as a list

In [82]:
len(people)

2251

In [83]:
people_roles=[]
for p in people:
    try:
        people_roles.append(p['properties']['Role'])
    except KeyError:
        people_roles.append("Unknown")
set(people_roles)

{'Unknown', 'student'}

In [84]:
people_roles=np.array(people_roles)
Counter(people_roles)

Counter({'Unknown': 107, 'student': 2144})

In [85]:
Schools=[]
for p in people:
    try:
        if p['properties']['Role']=="student":
            try:
                Schools.append(p['properties']['School'])
            except KeyError:
                pass
    except KeyError:
        pass
Schools=np.unique(np.array(Schools))
Schools

array(['ASU (W.P. Carey)', 'Alabama (Manderson)', 'American (Kogod)',
       'BYU (Marriott)', 'Berkeley (Haas)', 'Boston College (Carroll)',
       'Boston University (Questrom)', 'CEIBS (CEIBS)',
       'Cambridge (Judge)', 'Carnegie Mellon (Tepper)', 'Chicago (Booth)',
       'Claremont (Drucker)', 'Colorado - Boulder (Leeds)',
       'Columbia (CBS)', 'Cornell (Johnson)', 'Dartmouth (Tuck)',
       'Duke (Fuqua)', 'ESADE Business School (ESADE)', 'Emory (Goizueta)',
       'Forte Network (Forte)', 'George Washington (GW)',
       'Georgetown (McDonough)', 'Georgia (Terry)',
       'Georgia Tech (Scheller)', 'HEC-Paris (HEC)', 'Harvard (HBS)',
       'IE Business School (IE)', 'IESE Business School',
       'IESE Business School (IESE)', 'INSEAD (INSEAD)',
       'Imperial College Business School (ICBS)', 'Indiana (Kelley)',
       'Johns Hopkins (Carey)', 'London Business School (LBS)',
       'MIT (Sloan)', 'Manchester (Alliance)', 'Marquette (GSM)',
       'Maryland (Smith)', 'Michigan (Ross)', 'Minnesota (Carlson)',
       'NYU (Stern)', 'Northwestern (Kellogg)', 'Notre Dame (Mendoza)',
       'Ohio State (Fisher)', 'Oxford (Said)', 'Penn (Wharton)',
       'Penn State (Smeal)', 'Pepperdine (Graziadio)', 'Pittsburgh (Katz)',
       "Queen's School of Business (QSB)", 'Rice (Jones)',
       'Rochester (Simon)', 'Rutgers (Rutgers)', 'SMU (Cox)',
       'St. Thomas (Opus)', 'Stanford (GSB)', 'Temple (Fox)',
       'Texas A&M (Mays)', 'Toronto (Rotman)', 'UC Irvine (Merage)',
       'UCLA (Anderson)', 'UConn School of Business (UConn)',
       'UNC (Kenan-Flagler)', 'USC (Marshall)', 'UT-Austin (McCombs)',
       'UT-Dallas (Jindal)', 'University of Illinois (Urbana-Champaign)',
       'Vanderbilt (Owen)', 'Virginia (Darden)', 'Wake Forest (Wake)',
       'Washington (Foster)', 'Washington St. Louis (Olin)',
       'William & Mary (Mason)', 'Yale (SOM)'],
      dtype='<U41')

In [86]:
Inactive_Schools=['UC Irvine (Merage)','Alabama (Manderson)','University of Illinois (Urbana-Champaign)',
                  'Colorado - Boulder (Leeds)','Marquette (GSM)','Toronto (Rotman)','BYU (Marriott)',
                  'Georgia (Terry)','Pepperdine (Graziadio)','SMU (Cox)','USC (Marshall)','Pittsburgh (Katz)',
                  'Ohio State (Fisher)',"Queen's School of Business (QSB)",'Rochester (Simon)',
                  'George Washington (GW)','Minnesota (Carlson)','Rice (Jones)','Georgia Tech (Scheller)']

In [87]:
people_list_by_school_2={}
for s in Schools:
    people_list_by_school_2[s]=[]
for p in people:
    try:
        people_list_by_school_2[p['properties']['School']].append(p['distinct_id'])
    except KeyError:
        pass
total_students=0
for s in people_list_by_school_2:
    total_students+=len(people_list_by_school_2[s])
total_students

2144

In [88]:
people_list_by_school={}
for s in Inactive_Schools:
    people_list_by_school[s]=[]
for p in people:
    try:
        if p['properties']['School'] in Inactive_Schools:
            people_list_by_school[p['properties']['School']].append(p['distinct_id'])
    except KeyError:
        pass
people_list_by_school

{'Alabama (Manderson)': ['4878'],
 'BYU (Marriott)': ['4861', '4816', '4547'],
 'Colorado - Boulder (Leeds)': ['4923'],
 'George Washington (GW)': ['4295',
  '4351',
  '4766',
  '4239',
  '3664',
  '4700',
  '482'],
 'Georgia (Terry)': ['4703'],
 'Georgia Tech (Scheller)': ['3538'],
 'Marquette (GSM)': ['3461'],
 'Minnesota (Carlson)': ['3237', '3031', '2435', '3235', '4232'],
 'Ohio State (Fisher)': ['3343'],
 'Pepperdine (Graziadio)': ['4318', '4957'],
 'Pittsburgh (Katz)': ['4506'],
 "Queen's School of Business (QSB)": ['2393'],
 'Rice (Jones)': ['3250', '2970', '3379', '4492', '3242'],
 'Rochester (Simon)': ['4738', '4317'],
 'SMU (Cox)': ['3310', '3877', '4346', '4655'],
 'Toronto (Rotman)': ['4079', '4278'],
 'UC Irvine (Merage)': ['4741'],
 'USC (Marshall)': ['3210', '4640', '4863', '1565'],
 'University of Illinois (Urbana-Champaign)': ['4742']}

In [ ]:
people_list={}
for s in people_list_by_school:
    for p_id in people_list_by_school[s]:
        people_list[(s,p_id)]={}
        #First / Last name, email address
        for p in people:
            if p['distinct_id']==p_id:
                people_list[(s,p_id)]["first_name"]=p['properties']['First Name']
                people_list[(s,p_id)]["last_name"]=p['properties']['Last Name']
                people_list[(s,p_id)]["email"]=p['properties']['Email']
                people_list[(s,p_id)]['signup_date']=p['properties']['SignUp Date']
                break
        #User Activity: Student Applied Following Filter, view Profile, Company Save, Company Follow, Student visit Search (6 metrics)
        for e in events:
            if (e['name'] in ['Student Applied Following Filter', 'view Profile', 'Company Save', 'Company Follow', 'Student SignIn', 'Student visit SEARCH', 'Student visit Search']) and e['distinct_id']==p_id:
                try:
                    people_list[(s,p_id)][e['name'].lower()]+=1
                except KeyError:
                    people_list[(s,p_id)][e['name'].lower()]=1
people_list

In [90]:
people_df=pd.DataFrame.from_dict(people_list).T
people_df=people_df.fillna(0)
people_df.index.names=["School","user_id"]
people_df.index.names
people_df=people_df.groupby(level="School",axis=0).apply(pd.DataFrame.sort_values,by="signup_date",ascending=False)
people_df=people_df.reset_index(0).iloc[:,1:]
people_df

                                                   company follow  \
School                                    user_id
Alabama (Manderson)                       4878                  0
BYU (Marriott)                            4861                  0
                                          4816                  0
                                          4547                  0
Colorado - Boulder (Leeds)                4923                  0
George Washington (GW)                    4766                  2
                                          4700                  0
                                          4351                  0
                                          4295                  0
                                          4239                  0
                                          3664                  0
                                          482                   5
Georgia (Terry)                           4703                 10
Georgia Tech (Scheller)                   3538                  1
Marquette (GSM)                           3461                  1
Minnesota (Carlson)                       4232                  0
                                          3237                  0
                                          3235                  2
                                          3031                  0
                                          2435                  0
Ohio State (Fisher)                       3343                  2
Pepperdine (Graziadio)                    4957                  0
                                          4318                 13
Pittsburgh (Katz)                         4506                  0
Queen's School of Business (QSB)          2393                  0
Rice (Jones)                              4492                  3
                                          3379                  7
                                          3250                  0
                                          3242                  0
                                          2970                  0
Rochester (Simon)                         4738                  2
                                          4317                  0
SMU (Cox)                                 4655                  0
                                          4346                  0
                                          3877                  0
                                          3310                  0
Toronto (Rotman)                          4278                  0
                                          4079                  0
UC Irvine (Merage)                        4741                  0
USC (Marshall)                            4863                 14
                                          4640                  3
                                          3210                  0
                                          1565                  0
University of Illinois (Urbana-Champaign) 4742                  0

                                                   company save  \
School                                    user_id
Alabama (Manderson)                       4878                0
BYU (Marriott)                            4861                0
                                          4816                0
                                          4547                0
Colorado - Boulder (Leeds)                4923                0
George Washington (GW)                    4766                2
                                          4700                0
                                          4351                0
                                          4295                0
                                          4239                0
                                          3664                2
                                          482                 1
Georgia (Terry)                           4703                0
Georgia Tech (Scheller)                   3538                0
Marquette (GSM)                           3461                1
Minnesota (Carlson)                       4232                0
                                          3237                0
                                          3235                0
                                          3031                0
                                          2435                0
Ohio State (Fisher)                       3343                5
Pepperdine (Graziadio)                    4957                0
                                          4318                5
Pittsburgh (Katz)                         4506                0
Queen's School of Business (QSB)          2393                0
Rice (Jones)                              4492                3
                                          3379                0
                                          3250                0
                                          3242                0
                                          2970                0
Rochester (Simon)                         4738                0
                                          4317                0
SMU (Cox)                                 4655                0
                                          4346                0
                                          3877                0
                                          3310                0
Toronto (Rotman)                          4278                0
                                          4079                0
UC Irvine (Merage)                        4741                0
USC (Marshall)                            4863                1
                                          4640                2
                                          3210                0
                                          1565                0
University of Illinois (Urbana-Champaign) 4742                0

                                                                                     email  \
School                                    user_id
Alabama (Manderson)                       4878                     khouser@underarmour.com
BYU (Marriott)                            4861                        aeheflin93@gmail.com
                                          4816                    tadbrinkerhoff@gmail.com
                                          4547                      ericleon2008@gmail.com
Colorado - Boulder (Leeds)                4923                      johnrhelmers@yahoo.com
George Washington (GW)                    4766                      cliff.gillam@gmail.com
                                          4700                           rschopler@gwu.edu
                                          4351                          nataliemay@gwu.edu
                                          4295                    ian.p.laughlin@gmail.com
                                          4239                    yasin.sebaggala@live.com
                                          3664                   jordan.schulman@gmail.com
                                          482                            hillk90@gmail.com
Georgia (Terry)                           4703                       gussstephen@gmail.com
Georgia Tech (Scheller)                   3538                         kparbadia@gmail.com
Marquette (GSM)                           3461            nicholas.winninger@marquette.edu
Minnesota (Carlson)                       4232                       dbaxter1016@gmail.com
                                          3237                            buckn035@umn.edu
                                          3235                           skuplic@umich.edu
                                          3031                            bruce080@umn.edu
                                          2435                     ryan.t.alberg@gmail.com
Ohio State (Fisher)                       3343                     hershgupta911@gmail.com
Pepperdine (Graziadio)                    4957                             rks5@icloud.com
                                          4318                        joeharkins@gmail.com
Pittsburgh (Katz)                         4506                         jophameen@gmail.com
Queen's School of Business (QSB)          2393               sunandan.sridharan@queensu.ca
Rice (Jones)                              4492                      tuanquang269@gmail.com
                                          3379                         vincezito@gmail.com
                                          3250                       mark.cochran@rice.edu
                                          3242                              dp@purdytx.com
                                          2970                               yda1@rice.edu
Rochester (Simon)                         4738                    jason.a.beaton@gmail.com
                                          4317                      nehasharma16@gmail.com
SMU (Cox)                                 4655                              mnoula@smu.edu
                                          4346                               mmaia@smu.edu
                                          3877                       jenrdelaney@gmail.com
                                          3310                             ckoenig@smu.edu
Toronto (Rotman)                          4278                    mwade.taylor@utoronto.ca
                                          4079                      vincelauro10@gmail.com
UC Irvine (Merage)                        4741                          ayush.rc@gmail.com
USC (Marshall)                            4863                       brownsteint@gmail.com
                                          4640                     missmelissang@gmail.com
                                          3210                            rwpaek@gmail.com
                                          1565     jefferey.scafaria.2016@marshall.usc.edu
University of Illinois (Urbana-Champaign) 4742                             lea@agrible.com

                                                  first_name      last_name  \
School                                    user_id
Alabama (Manderson)                       4878       Kristie        Matthai
BYU (Marriott)                            4861             a              h
                                          4816           Tad    Brinkerhoff
                                          4547          Eric       Levesque
Colorado - Boulder (Leeds)                4923          John        Helmers
George Washington (GW)                    4766         Cliff         Gillam
                                          4700        Rachel       Schopler
                                          4351       Natalie            May
                                          4295           Ian       Laughlin
                                          4239         Yasin      Sebaggala
                                          3664        Jordan       Schulman
                                          482        Hillary       Kirtland
Georgia (Terry)                           4703       Stephen           Guss
Georgia Tech (Scheller)                   3538          John          Smith
Marquette (GSM)                           3461      Nicholas      Winninger
Minnesota (Carlson)                       4232         David    Baxter, MBA
                                          3237         Alana        Buckner
                                          3235        Steven         Kuplic
                                          3031        Steven          Bruce
                                          2435          Ryan         Alberg
Ohio State (Fisher)                       3343         Hersh          Gupta
Pepperdine (Graziadio)                    4957          Ross        Stewart
                                          4318           Joe        Harkins
Pittsburgh (Katz)                         4506            Jo         Patton
Queen's School of Business (QSB)          2393      Sunandan      Sridharan
Rice (Jones)                              4492         Quang         Nguyen
                                          3379         Vince           Zito
                                          3250          Mark        Cochran
                                          3242        Daniel          Purdy
                                          2970      Yolander          Smith
Rochester (Simon)                         4738         Jason         Beaton
                                          4317          Neha         Sharma
SMU (Cox)                                 4655         Alice          Noula
                                          4346        Maiana           Maia
                                          3877      Jennifer        Delaney
                                          3310         Craig         Koenig
Toronto (Rotman)                          4278       Matthew         Taylor
                                          4079       Vincent          Lauro
UC Irvine (Merage)                        4741      Ayushman  Roy Choudhury
USC (Marshall)                            4863        Taylor     Brownstein
                                          4640       Melissa             Ng
                                          3210       Richard           Paek
                                          1565          Jeff       Scafaria
University of Illinois (Urbana-Champaign) 4742           Lea         Potter

                                                                signup_date  \
School                                    user_id
Alabama (Manderson)                       4878     2016-07-14T13:00:54.000Z
BYU (Marriott)                            4861     2016-07-13T06:26:18.000Z
                                          4816     2016-07-07T09:50:34.000Z
                                          4547     2016-06-15T12:30:44.000Z
Colorado - Boulder (Leeds)                4923     2016-07-20T14:55:52.000Z
George Washington (GW)                    4766     2016-07-07T07:07:07.000Z
                                          4700     2016-06-30T08:35:12.000Z
                                          4351     2016-05-27T17:36:21.000Z
                                          4295     2016-05-19T19:46:00.000Z
                                          4239     2016-05-14T19:45:07.000Z
                                          3664     2016-04-08T12:17:18.000Z
                                          482      2015-07-07T07:52:25.000Z
Georgia (Terry)                           4703     2016-06-30T10:32:28.000Z
Georgia Tech (Scheller)                   3538     2016-03-30T10:59:10.000Z
Marquette (GSM)                           3461     2016-03-29T09:56:02.000Z
Minnesota (Carlson)                       4232     2016-05-13T13:20:11.000Z
                                          3237     2016-03-11T09:40:07.000Z
                                          3235     2016-03-11T06:57:40.000Z
                                          3031     2016-01-31T16:46:11.000Z
                                          2435     2015-11-06T23:19:21.000Z
Ohio State (Fisher)                       3343     2016-03-22T04:02:35.000Z
Pepperdine (Graziadio)                    4957     2016-07-21T14:10:06.000Z
                                          4318     2016-05-23T12:50:38.000Z
Pittsburgh (Katz)                         4506     2016-06-12T22:41:51.000Z
Queen's School of Business (QSB)          2393     2015-11-02T13:28:49.000Z
Rice (Jones)                              4492     2016-06-09T21:14:59.000Z
                                          3379     2016-03-23T08:35:40.000Z
                                          3250     2016-03-13T10:18:19.000Z
                                          3242     2016-03-11T21:18:32.000Z
                                          2970     2016-01-26T15:16:38.000Z
Rochester (Simon)                         4738     2016-07-04T15:42:29.000Z
                                          4317     2016-05-23T10:45:15.000Z
SMU (Cox)                                 4655     2016-06-24T18:09:50.000Z
                                          4346     2016-05-26T14:46:57.000Z
                                          3877     2016-04-25T10:00:06.000Z
                                          3310     2016-03-21T07:25:16.000Z
Toronto (Rotman)                          4278     2016-05-17T15:27:25.000Z
                                          4079     2016-05-02T07:32:34.000Z
UC Irvine (Merage)                        4741     2016-07-05T13:49:31.000Z
USC (Marshall)                            4863     2016-07-13T09:47:37.000Z
                                          4640     2016-06-22T20:26:50.000Z
                                          3210     2016-02-28T20:09:32.000Z
                                          1565     2015-08-26T22:29:19.000Z
University of Illinois (Urbana-Champaign) 4742     2016-07-05T14:11:07.000Z

                                                   student applied following filter  \
School                                    user_id
Alabama (Manderson)                       4878                                    7
BYU (Marriott)                            4861                                    0
                                          4816                                    1
                                          4547                                    0
Colorado - Boulder (Leeds)                4923                                    0
George Washington (GW)                    4766                                   17
                                          4700                                    1
                                          4351                                    0
                                          4295                                   52
                                          4239                                    1
                                          3664                                   21
                                          482                                    23
Georgia (Terry)                           4703                                   66
Georgia Tech (Scheller)                   3538                                    0
Marquette (GSM)                           3461                                    2
Minnesota (Carlson)                       4232                                    5
                                          3237                                    2
                                          3235                                    2
                                          3031                                    1
                                          2435                                    5
Ohio State (Fisher)                       3343                                   14
Pepperdine (Graziadio)                    4957                                    0
                                          4318                                   32
Pittsburgh (Katz)                         4506                                    0
Queen's School of Business (QSB)          2393                                    0
Rice (Jones)                              4492                                   32
                                          3379                                   57
                                          3250                                    4
                                          3242                                    1
                                          2970                                    0
Rochester (Simon)                         4738                                    2
                                          4317                                    0
SMU (Cox)                                 4655                                    2

In [91]:
people_df=people_df.iloc[:,[2,3,4,5,8,6,9,0,1,7]]
people_df=people_df.rename(columns={"student visit search":"visit_search","student applied following filter":"apply_filter",
                                    "view profile":"view_profile","company follow":"follow","company save":"save",
                                    "student signin":"signin"})
people_df

                                                                                     email  \
School                                    user_id
Alabama (Manderson)                       4878                     khouser@underarmour.com
BYU (Marriott)                            4861                        aeheflin93@gmail.com
                                          4816                    tadbrinkerhoff@gmail.com
                                          4547                      ericleon2008@gmail.com
Colorado - Boulder (Leeds)                4923                      johnrhelmers@yahoo.com
George Washington (GW)                    4766                      cliff.gillam@gmail.com
                                          4700                           rschopler@gwu.edu
                                          4351                          nataliemay@gwu.edu
                                          4295                    ian.p.laughlin@gmail.com
                                          4239                    yasin.sebaggala@live.com
                                          3664                   jordan.schulman@gmail.com
                                          482                            hillk90@gmail.com
Georgia (Terry)                           4703                       gussstephen@gmail.com
Georgia Tech (Scheller)                   3538                         kparbadia@gmail.com
Marquette (GSM)                           3461            nicholas.winninger@marquette.edu
Minnesota (Carlson)                       4232                       dbaxter1016@gmail.com
                                          3237                            buckn035@umn.edu
                                          3235                           skuplic@umich.edu
                                          3031                            bruce080@umn.edu
                                          2435                     ryan.t.alberg@gmail.com
Ohio State (Fisher)                       3343                     hershgupta911@gmail.com
Pepperdine (Graziadio)                    4957                             rks5@icloud.com
                                          4318                        joeharkins@gmail.com
Pittsburgh (Katz)                         4506                         jophameen@gmail.com
Queen's School of Business (QSB)          2393               sunandan.sridharan@queensu.ca
Rice (Jones)                              4492                      tuanquang269@gmail.com
                                          3379                         vincezito@gmail.com
                                          3250                       mark.cochran@rice.edu
                                          3242                              dp@purdytx.com
                                          2970                               yda1@rice.edu
Rochester (Simon)                         4738                    jason.a.beaton@gmail.com
                                          4317                      nehasharma16@gmail.com
SMU (Cox)                                 4655                              mnoula@smu.edu
                                          4346                               mmaia@smu.edu
                                          3877                       jenrdelaney@gmail.com
                                          3310                             ckoenig@smu.edu
Toronto (Rotman)                          4278                    mwade.taylor@utoronto.ca
                                          4079                      vincelauro10@gmail.com
UC Irvine (Merage)                        4741                          ayush.rc@gmail.com
USC (Marshall)                            4863                       brownsteint@gmail.com
                                          4640                     missmelissang@gmail.com
                                          3210                            rwpaek@gmail.com
                                          1565     jefferey.scafaria.2016@marshall.usc.edu
University of Illinois (Urbana-Champaign) 4742                             lea@agrible.com

                                                  first_name      last_name  \
School                                    user_id
Alabama (Manderson)                       4878       Kristie        Matthai
BYU (Marriott)                            4861             a              h
                                          4816           Tad    Brinkerhoff
                                          4547          Eric       Levesque
Colorado - Boulder (Leeds)                4923          John        Helmers
George Washington (GW)                    4766         Cliff         Gillam
                                          4700        Rachel       Schopler
                                          4351       Natalie            May
                                          4295           Ian       Laughlin
                                          4239         Yasin      Sebaggala
                                          3664        Jordan       Schulman
                                          482        Hillary       Kirtland
Georgia (Terry)                           4703       Stephen           Guss
Georgia Tech (Scheller)                   3538          John          Smith
Marquette (GSM)                           3461      Nicholas      Winninger
Minnesota (Carlson)                       4232         David    Baxter, MBA
                                          3237         Alana        Buckner
                                          3235        Steven         Kuplic
                                          3031        Steven          Bruce
                                          2435          Ryan         Alberg
Ohio State (Fisher)                       3343         Hersh          Gupta
Pepperdine (Graziadio)                    4957          Ross        Stewart
                                          4318           Joe        Harkins
Pittsburgh (Katz)                         4506            Jo         Patton
Queen's School of Business (QSB)          2393      Sunandan      Sridharan
Rice (Jones)                              4492         Quang         Nguyen
                                          3379         Vince           Zito
                                          3250          Mark        Cochran
                                          3242        Daniel          Purdy
                                          2970      Yolander          Smith
Rochester (Simon)                         4738         Jason         Beaton
                                          4317          Neha         Sharma
SMU (Cox)                                 4655         Alice          Noula
                                          4346        Maiana           Maia
                                          3877      Jennifer        Delaney
                                          3310         Craig         Koenig
Toronto (Rotman)                          4278       Matthew         Taylor
                                          4079       Vincent          Lauro
UC Irvine (Merage)                        4741      Ayushman  Roy Choudhury
USC (Marshall)                            4863        Taylor     Brownstein
                                          4640       Melissa             Ng
                                          3210       Richard           Paek
                                          1565          Jeff       Scafaria
University of Illinois (Urbana-Champaign) 4742           Lea         Potter

                                                                signup_date  \
School                                    user_id
Alabama (Manderson)                       4878     2016-07-14T13:00:54.000Z
BYU (Marriott)                            4861     2016-07-13T06:26:18.000Z
                                          4816     2016-07-07T09:50:34.000Z
                                          4547     2016-06-15T12:30:44.000Z
Colorado - Boulder (Leeds)                4923     2016-07-20T14:55:52.000Z
George Washington (GW)                    4766     2016-07-07T07:07:07.000Z
                                          4700     2016-06-30T08:35:12.000Z
                                          4351     2016-05-27T17:36:21.000Z
                                          4295     2016-05-19T19:46:00.000Z
                                          4239     2016-05-14T19:45:07.000Z
                                          3664     2016-04-08T12:17:18.000Z
                                          482      2015-07-07T07:52:25.000Z
Georgia (Terry)                           4703     2016-06-30T10:32:28.000Z
Georgia Tech (Scheller)                   3538     2016-03-30T10:59:10.000Z
Marquette (GSM)                           3461     2016-03-29T09:56:02.000Z
Minnesota (Carlson)                       4232     2016-05-13T13:20:11.000Z
                                          3237     2016-03-11T09:40:07.000Z
                                          3235     2016-03-11T06:57:40.000Z
                                          3031     2016-01-31T16:46:11.000Z
                                          2435     2015-11-06T23:19:21.000Z
Ohio State (Fisher)                       3343     2016-03-22T04:02:35.000Z
Pepperdine (Graziadio)                    4957     2016-07-21T14:10:06.000Z
                                          4318     2016-05-23T12:50:38.000Z
Pittsburgh (Katz)                         4506     2016-06-12T22:41:51.000Z
Queen's School of Business (QSB)          2393     2015-11-02T13:28:49.000Z
Rice (Jones)                              4492     2016-06-09T21:14:59.000Z
                                          3379     2016-03-23T08:35:40.000Z
                                          3250     2016-03-13T10:18:19.000Z
                                          3242     2016-03-11T21:18:32.000Z
                                          2970     2016-01-26T15:16:38.000Z
Rochester (Simon)                         4738     2016-07-04T15:42:29.000Z
                                          4317     2016-05-23T10:45:15.000Z
SMU (Cox)                                 4655     2016-06-24T18:09:50.000Z
                                          4346     2016-05-26T14:46:57.000Z
                                          3877     2016-04-25T10:00:06.000Z
                                          3310     2016-03-21T07:25:16.000Z
Toronto (Rotman)                          4278     2016-05-17T15:27:25.000Z
                                          4079     2016-05-02T07:32:34.000Z
UC Irvine (Merage)                        4741     2016-07-05T13:49:31.000Z
USC (Marshall)                            4863     2016-07-13T09:47:37.000Z
                                          4640     2016-06-22T20:26:50.000Z
                                          3210     2016-02-28T20:09:32.000Z
                                          1565     2015-08-26T22:29:19.000Z
University of Illinois (Urbana-Champaign) 4742     2016-07-05T14:11:07.000Z

                                                   visit_search  apply_filter  \
School                                    user_id
Alabama (Manderson)                       4878                1             7
BYU (Marriott)                            4861                0             0
                                          4816                2             1
                                          4547                1             0
Colorado - Boulder (Leeds)                4923                1             0
George Washington (GW)                    4766                5            17
                                          4700                2             1
                                          4351                0             0
                                          4295                3            52
                                          4239                1             1
                                          3664                6            21
                                          482                 0            23
Georgia (Terry)                           4703               10            66
Georgia Tech (Scheller)                   3538                1             0
Marquette (GSM)                           3461                1             2
Minnesota (Carlson)                       4232                1             5
                                          3237                1             2
                                          3235                1             2
                                          3031                1             1
                                          2435                2             5
Ohio State (Fisher)                       3343               11            14
Pepperdine (Graziadio)                    4957                1             0
                                          4318                0            32
Pittsburgh (Katz)                         4506                1             0
Queen's School of Business (QSB)          2393                0             0
Rice (Jones)                              4492                5            32
                                          3379                3            57
                                          3250                1             4
                                          3242                1             1
                                          2970                0             0
Rochester (Simon)                         4738                1             2
                                          4317                0             0
SMU (Cox)                                 4655                3             2
                                          4346                0             0
                                          3877                0             0
                                          3310                1             0
Toronto (Rotman)                          4278                3            18
                                          4079                2             8
UC Irvine (Merage)                        4741                2             0
USC (Marshall)                            4863                6            52
                                          4640                4            10
                                          3210                1             4
                                          1565                1             5
University of Illinois (Urbana-Champaign) 4742                0             0

                                                   view_profile  follow  save  \
School                                    user_id
Alabama (Manderson)                       4878                5       0     0
BYU (Marriott)                            4861                0       0     0
                                          4816                1       0     0
                                          4547                0       0     0
Colorado - Boulder (Leeds)                4923                0       0     0
George Washington (GW)                    4766                0       2     2
                                          4700                2       0     0
                                          4351                0       0     0
                                          4295                0       0     0
                                          4239                0       0     0
                                          3664                5       0     2
                                          482                 2       5     1
Georgia (Terry)                           4703               10      10     0
Georgia Tech (Scheller)                   3538                3       1     0
Marquette (GSM)                           3461                1       1     1
Minnesota (Carlson)                       4232                3       0     0
                                          3237                0       0     0
                                          3235                1       2     0
                                          3031                1       0     0
                                          2435                0       0     0
Ohio State (Fisher)                       3343               14       2     5
Pepperdine (Graziadio)                    4957                1       0     0
                                          4318                9      13     5
Pittsburgh (Katz)                         4506                1       0     0
Queen's School of Business (QSB)          2393                0       0     0
Rice (Jones)                              4492               16       3     3
                                          3379                0       7     0
                                          3250                2       0     0
                                          3242                2       0     0
                                          2970                0       0     0
Rochester (Simon)                         4738                0       2     0
                                          4317                0       0     0
SMU (Cox)                                 4655                4       0     0
                                          4346                0       0     0
                                          3877                0       0     0
                                          3310                1       0     0
Toronto (Rotman)                          4278                0       0     0
                                          4079                5       0     0
UC Irvine (Merage)                        4741                1       0     0
USC (Marshall)                            4863                0      14     1
                                          4640                7       3     2
                                          3210                1       0     0
                                          1565                2       0     0
University of Illinois (Urbana-Champaign) 4742                0       0     0

                                                   signin
School                                    user_id
Alabama (Manderson)                       4878          1
BYU (Marriott)                            4861          1
                                          4816          1
                                          4547          1
Colorado - Boulder (Leeds)                4923          1
George Washington (GW)                    4766          1
                                          4700          1
                                          4351          0
                                          4295          3
                                          4239          1
                                          3664          1
                                          482           5
Georgia (Terry)                           4703          4
Georgia Tech (Scheller)                   3538          1
Marquette (GSM)                           3461          1
Minnesota (Carlson)                       4232          1
                                          3237          1
                                          3235          1
                                          3031          1
                                          2435          1
Ohio State (Fisher)                       3343          5
Pepperdine (Graziadio)                    4957          1
                                          4318          1
Pittsburgh (Katz)                         4506          1
Queen's School of Business (QSB)          2393          1
Rice (Jones)                              4492          2
                                          3379          1
                                          3250          1

In [92]:
people_df.to_csv("targets_users.csv")

In [16]:
user_4878_events=[]
for e in events:
    if e['distinct_id']=='4878':
        user_4878_events.append(e)
user_4878_events

[{'distinct_id': '4878',
  'name': 'Student Build Profile',
  'properties': {'$lib_version': '2.2.0', 'mp_lib': 'ruby'},
  'sampling_factor': 1,
  'time': 1468501035000},
 {'distinct_id': '4878',
  'name': 'Signup Confirmed as #{self.role}',
  'properties': {'$lib_version': '2.2.0',
   'mp_lib': 'ruby',
   'school': 'Alabama (Manderson)',
   'signup_method': 'LinkedIn'},
  'sampling_factor': 1,
  'time': 1468501061000},
 {'distinct_id': '4878',
  'name': 'Student SignIn',
  'properties': {'$lib_version': '2.2.0', 'mp_lib': 'ruby'},
  'sampling_factor': 1,
  'time': 1468501139000},
 {'distinct_id': '4878',
  'name': 'Student visit Search',
  'properties': {'$browser': 'Internet Explorer',
   '$browser_version': 11,
   '$city': 'Baltimore',
   '$current_url': 'http://www.relishmba.com/students/kristie-matthai/edit',
   '$initial_referrer': '$direct',
   '$initial_referring_domain': '$direct',
   '$lib_version': '2.8.1',
   '$os': 'Windows',
   '$region': 'Maryland',
   '$screen_height': 900,
   '$screen_width': 1600,
   'id': '4878',
   'mp_country_code': 'US',
   'mp_lib': 'web'},
  'sampling_factor': 1,
  'time': 1468501149000},
 {'distinct_id': '4878',
  'name': 'view Profile',
  'properties': {'$lib_version': '2.2.0',
   'company_id': 14,
   'company_name': '3M',
   'company_size': 'Large Business (more than 10,000 employees)',
   'events': 0,
   'industry': ['Consumer Products', 'Manufacturing', 'Technology'],
   'location': 'Minneapolis, MN',
   'mp_lib': 'ruby',
   'pics': 3,
   'reps': 7,
   'videos': 4},
  'sampling_factor': 1,
  'time': 1468501165000},
 {'distinct_id': '4878',
  'name': 'Student Applied Following Filter',
  'properties': {'$lib_version': '2.2.0',
   '_': '1468526340447',
   'comapnies': 33,
   'data_show': 'undefined',
   'mp_lib': 'ruby',
   'other_comapnies': 2021,
   'page': '2',
   'sort_contain': 'is_append',
   'type': '1'},
  'sampling_factor': 1,
  'time': 1468501201000},
 {'distinct_id': '4878',
  'name': 'view Profile',
  'properties': {'$lib_version': '2.2.0',
   'company_id': 15,
   'company_name': 'DuPont',
   'company_size': 'Large Business (more than 10,000 employees)',
   'events': 1,
   'industry': ['Manufacturing', 'Technology'],
   'location': 'Wilmington, DE',
   'mp_lib': 'ruby',
   'pics': 8,
   'reps': 11,
   'videos': 3},
  'sampling_factor': 1,
  'time': 1468501208000},
 {'distinct_id': '4878',
  'name': 'Student Applied Following Filter',
  'properties': {'$lib_version': '2.2.0',
   '?utf8': '',
   'comapnies': 33,
   'format': 'js',
   'mp_lib': 'ruby',
   'other_comapnies': 2021,
   'sort_column': 'industry',
   'sort_contain': 'is_html',
   'sort_order': 'desc'},
  'sampling_factor': 1,
  'time': 1468501238000},
 {'distinct_id': '4878',
  'name': 'Student Applied Following Filter',
  'properties': {'$lib_version': '2.2.0',
   '?utf8': '',
   '_': '1468526432575',
   'comapnies': 33,
   'data_show': 'undefined',
   'format': 'js',
   'mp_lib': 'ruby',
   'other_comapnies': 2021,
   'page': '2',
   'sort_column': 'industry',
   'sort_contain': 'is_append',
   'sort_order': 'desc',
   'type': '1'},
  'sampling_factor': 1,
  'time': 1468501248000},
 {'distinct_id': '4878',
  'name': 'Student Applied Following Filter',
  'properties': {'$lib_version': '2.2.0',
   '?utf8': '',
   '_': '1468526432576',
   'comapnies': 33,
   'data_show': 'undefined',
   'format': 'js',
   'mp_lib': 'ruby',
   'other_comapnies': 2021,
   'page': '3',
   'sort_column': 'industry',
   'sort_contain': 'is_append',
   'sort_order': 'desc',
   'type': '1'},
  'sampling_factor': 1,
  'time': 1468501257000},
 {'distinct_id': '4878',
  'name': 'view Profile',
  'properties': {'$lib_version': '2.2.0',
   'company_id': 100,
   'company_name': 'Nike Inc.',
   'company_size': 'Large Business (more than 10,000 employees)',
   'events': 0,
   'industry': ['Consumer Products', 'Retail'],
   'location': 'Beaverton, OR',
   'mp_lib': 'ruby',
   'pics': 4,
   'reps': 5,
   'videos': 1},
  'sampling_factor': 1,
  'time': 1468501261000},
 {'distinct_id': '4878',
  'name': 'Student Applied Following Filter',
  'properties': {'$lib_version': '2.2.0',
   '_': '1468526693652',
   'comapnies': 33,
   'data_show': 'undefined',
   'mp_lib': 'ruby',
   'other_comapnies': 2021,
   'page': '2',
   'sort_contain': 'is_append',
   'type': '1'},
  'sampling_factor': 1,
  'time': 1468501501000},
 {'distinct_id': '4878',
  'name': 'view Profile',
  'properties': {'$lib_version': '2.2.0',
   'company_id': 72,
   'company_name': 'Ford Motor Company',
   'company_size': 'Large Business (more than 10,000 employees)',
   'events': 0,
   'industry': ['Transportation'],
   'location': 'Detroit, MI',
   'mp_lib': 'ruby',
   'pics': 1,
   'reps': 4,
   'videos': 2},
  'sampling_factor': 1,
  'time': 1468501511000},
 {'distinct_id': '4878',
  'name': 'Student Applied Following Filter',
  'properties': {'$lib_version': '2.2.0',
   '_': '1468526744210',
   'comapnies': 33,
   'data_show': 'undefined',
   'mp_lib': 'ruby',
   'other_comapnies': 2021,
   'page': '2',
   'sort_contain': 'is_append',
   'type': '1'},
  'sampling_factor': 1,
  'time': 1468501553000},
 {'distinct_id': '4878',
  'name': 'Student Applied Following Filter',
  'properties': {'$lib_version': '2.2.0',
   '_': '1468526744211',
   'comapnies': 33,
   'data_show': 'undefined',
   'mp_lib': 'ruby',
   'other_comapnies': 2021,
   'page': '3',
   'sort_contain': 'is_append',
   'type': '1'},
  'sampling_factor': 1,
  'time': 1468501560000},
 {'distinct_id': '4878',
  'name': 'view Profile',
  'properties': {'$lib_version': '2.2.0',
   'company_id': 149,
   'company_name': 'Palantir Technologies',
   'company_size': 'Mid-Size Business (500 to 10,000 employees)',
   'events': 0,
   'industry': ['Technology'],
   'location': 'Palo Alto & San Francisco Bay Area, CA',
   'mp_lib': 'ruby',
   'pics': 2,
   'reps': 1,
   'videos': 0},
  'sampling_factor': 1,
  'time': 1468501575000}]

In [27]:
for p in people:
    if p['distinct_id']=="4878":
        print(p)

{'properties': {'Recruiting Status': None, 'Expected Grad Year': None, '$timezone': 'America/New_York', 'Email': 'khouser@underarmour.com', 'Function Experience': None, 'Industry Experience': None, '$region': 'Virginia', 'company_visited_count': 5, '$country_code': 'US', 'signup_method': 'LinkedIn', 'SignUp Date': '2016-07-14T13:00:54.000Z', 'School': 'Alabama (Manderson)', 'Role': 'student', 'Last Name': 'Matthai', '$city': 'Ashburn', 'Geographical Preferences': None, 'company_visited': [14, 15, 100, 72, 149], 'Undergrad Concentration': None, 'First Name': 'Kristie'}, 'time': 1468526775045, 'distinct_id': '4878'}

In [39]:
people_email={}
for user_id, p in zip(np.where(people_roles=='Unknown')[0], people[np.where(people_roles=='Unknown')]):
    try:
        people_email[user_id]=p['properties']['Email']
    except KeyError:
        people_email[user_id]="Unknown"
id_unknown_email=[]
for user_id, email in people_email.items():
    if email=="Unknown":
        id_unknown_email.append(user_id)
id_unknown_email

[1539,
 1926,
 1826,
 1591,
 59,
 580,
 838,
 594,
 1885,
 741,
 1802,
 240,
 1136,
 1139,
 1913,
 380,
 1154,
 164,
 1190,
 951,
 1209,
 464,
 1253,
 723]

In [41]:
people[np.setdiff1d(np.where(people_roles=='Unknown')[0], np.array(id_unknown_email))]

array([ {'properties': {'Email': 'adam.halford@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Halford', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Adam'}, 'distinct_id': '2980', 'time': 1453913906348},
       {'properties': {'Email': 'owen@lljcapital.com', '$timezone': 'America/New_York', 'Last Name': 'Larkin', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Owen'}, 'distinct_id': '3203', 'time': 1456434537847},
       {'properties': {'Email': 'diana.c.ma@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Ma', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Diana'}, 'distinct_id': '3396', 'time': 1458857727518},
       {'properties': {'Email': 'kimkepchar@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Kepchar', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Kim'}, 'distinct_id': '3185', 'time': 1456156585034},
       {'properties': {'Email': 'marian.leitner@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Leitner', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Marian'}, 'distinct_id': '3148', 'time': 1455553521813},
       {'properties': {'Email': 'dmcguirk@chevron.com', '$timezone': 'America/New_York', 'Last Name': 'McGuirk', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Debbie'}, 'distinct_id': '4395', 'time': 1465926881902},
       {'properties': {'Email': 'barbara.barton@emerson.com', '$timezone': 'America/New_York', 'Last Name': 'Barton', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Barbara'}, 'distinct_id': '4663', 'time': 1467207892042},
       {'properties': {'Email': 'bizcorps@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'BizCorps'}, 'distinct_id': '1929', 'time': 1456257079671},
       {'properties': {'Email': 'adam.halford@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Halford', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Adam'}, 'distinct_id': '2979', 'time': 1453913358947},
       {'properties': {'company_visited': [81], 'Email': 'yk@thebizcorps.org', 'company_visited_count': 1, '$timezone': 'America/New_York', 'Last Name': 'Khvan', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Yulia'}, 'distinct_id': '3186', 'time': 1457709318222},
       {'properties': {'Email': 'generalmotors@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'General Motors'}, 'distinct_id': '1116', 'time': 1461080650477},
       {'properties': {'Email': 'sophie.taylor@cigna.com', '$timezone': 'America/New_York', 'Last Name': 'Taylor', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Sophie'}, 'distinct_id': '4369', 'time': 1466172665491},
       {'properties': {'Email': 'versame@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'versame@relishmba.com', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'VersaMe'}, 'distinct_id': '3137', 'time': 1455487092462},
       {'properties': {'Email': 'eschnairsohn@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Schnairsohn', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Eric'}, 'distinct_id': '3085', 'time': 1454956341505},
       {'properties': {'Email': 'creditsuisse@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Credit Suisse'}, 'distinct_id': '859', 'time': 1462372244012},
       {'properties': {'Email': 'rachel@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Penny', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Rachel'}, 'distinct_id': '3153', 'time': 1455571736960},
       {'properties': {'Email': 'macquarie@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Macquarie Group'}, 'distinct_id': '3284', 'time': 1458416808784},
       {'properties': {'company_visited': [20, 16, 24, 78, 13, 18, 50, 148], 'Email': 'zach@relishmba.com', 'company_visited_count': 10, '$timezone': 'America/New_York', 'Last Name': 'Mayo', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Zach'}, 'distinct_id': '661', 'time': 1465914486594},
       {'properties': {'Email': 'llj@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'LLJ Capital'}, 'distinct_id': '3182', 'time': 1456082693992},
       {'properties': {'Email': 'bjorn@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Wanbo', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Bjorn'}, 'distinct_id': '3155', 'time': 1455572415210},
       {'properties': {'Email': 'lek@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'L.E.K. Consulting'}, 'distinct_id': '3016', 'time': 1454202314026},
       {'properties': {'Email': 'cassimirclub@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Cassimir Club'}, 'distinct_id': '3143', 'time': 1455496770974},
       {'properties': {'Email': 'arthur.watson@castlehillgaming.com', '$timezone': 'America/New_York', 'Last Name': 'Watson', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Arthur'}, 'distinct_id': '3202', 'time': 1456937073237},
       {'properties': {'Email': 'bchinn@peerinsight.com', '$timezone': 'America/New_York', 'Last Name': 'Chinn', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Brandon'}, 'distinct_id': '1856', 'time': 1461165843185},
       {'properties': {'Email': 'amanda.tambling@pwc.com', '$timezone': 'America/New_York', 'Last Name': 'Parekh', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Amanda'}, 'distinct_id': '3395', 'time': 1465407464048},
       {'properties': {'Email': 'ppl@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'PPL Electric'}, 'distinct_id': '3020', 'time': 1454202330337},
       {'properties': {'Email': 'jandj@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Johnson & Johnson'}, 'distinct_id': '3158', 'time': 1455589045371},
       {'properties': {'Email': 'vanessa.clark@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Clark', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Vanessa'}, 'distinct_id': '2986', 'time': 1454016332896},
       {'properties': {'Email': 'joel@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Selzer', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Joel'}, 'distinct_id': '3187', 'time': 1456165834549},
       {'properties': {'Email': 'workgenius@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'WorkGenius'}, 'distinct_id': '3140', 'time': 1455490239396},
       {'properties': {'company_visited': [40], 'Email': 'morganstanley@relishmba.com', 'company_visited_count': 1, '$timezone': 'America/New_York', 'Last Name': 'Stanley', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Morgan'}, 'distinct_id': '855', 'time': 1462387172842},
       {'properties': {'Email': 'hines@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Hines'}, 'distinct_id': '4268', 'time': 1463502992064},
       {'properties': {'Email': 'christianp@qualtrics.com', '$timezone': 'America/New_York', 'Last Name': 'Page', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Christian'}, 'distinct_id': '2828', 'time': 1454100411025},
       {'properties': {'Email': 'woodensun@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Wooden Sun'}, 'distinct_id': '3179', 'time': 1456078844952},
       {'properties': {'Email': 'whirlpool@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Whirlpool'}, 'distinct_id': '3261', 'time': 1458088951374},
       {'properties': {'Email': 'mdupuy@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Dupuy', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Megan'}, 'distinct_id': '2978', 'time': 1453912836354},
       {'properties': {'Email': 'lama.alomari@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Al Omari', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Lama'}, 'distinct_id': '3038', 'time': 1454346337921},
       {'properties': {'Email': 'kevin@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Sidders', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Kevin'}, 'distinct_id': '3160', 'time': 1455675377233},
       {'properties': {'Email': 'patricia.hernandez@emerson.com', '$timezone': 'America/New_York', 'Last Name': 'Hernandez', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Patricia'}, 'distinct_id': '1508', 'time': 1467208510782},
       {'properties': {'Email': 'heb@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'HEB'}, 'distinct_id': '3260', 'time': 1458087120960},
       {'properties': {'Email': 'marissa.abusirriyeh@aexp.com', '$timezone': 'America/New_York', 'Last Name': 'Abusirriyeh', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Marissa'}, 'distinct_id': '4487', 'time': 1467136261856},
       {'properties': {'Email': 'castlehill@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Castle Hill Gaming'}, 'distinct_id': '3141', 'time': 1455491937901},
       {'properties': {'Email': 'wafaa@nmb.com.jo', '$timezone': 'America/New_York', 'Last Name': 'Frehat', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Wafaa'}, 'distinct_id': '3037', 'time': 1454346104888},
       {'properties': {'Email': 'jhensen@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Hensen', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Jessica'}, 'distinct_id': '3083', 'time': 1454951963514},
       {'properties': {'Email': 'archemedx@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'ArcheMedX'}, 'distinct_id': '3142', 'time': 1455495860021},
       {'properties': {'Email': 'negin.mani@nike.com', '$timezone': 'America/New_York', 'Last Name': 'Mani', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Negin'}, 'distinct_id': '2782', 'time': 1454442583156},
       {'properties': {'Email': 'admin@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Mayo', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Zach'}, 'distinct_id': '1', 'time': 1466697665579},
       {'properties': {'Email': 'kgablin@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Gablin', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Katie'}, 'distinct_id': '2981', 'time': 1453914646090},
       {'properties': {'Email': 'cavion@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Cavion'}, 'distinct_id': '3181', 'time': 1456081621325},
       {'properties': {'Email': 'rbc@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'RBC'}, 'distinct_id': '3285', 'time': 1458422151260},
       {'properties': {'Email': 'jordan.schulman@pwc.com', '$timezone': 'America/New_York', 'Last Name': 'Schulman', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Jordan'}, 'distinct_id': '3256', 'time': 1458830621042},
       {'properties': {'Email': 'wayfair@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Wayfair'}, 'distinct_id': '3022', 'time': 1454202341408},
       {'properties': {'Email': 'sara@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Pierce', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Sara'}, 'distinct_id': '3404', 'time': 1458925942645},
       {'properties': {'Email': 'walmartecommerce@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'eCommerce', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Walmart'}, 'distinct_id': '3221', 'time': 1457019974111},
       {'properties': {'company_visited': [162, 15], 'Email': 'dupont@relishmba.com', 'company_visited_count': 7, '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'DuPont'}, 'distinct_id': '373', 'time': 1467095183663},
       {'properties': {'Email': 'katlin@jet.com', '$timezone': 'America/New_York', 'Last Name': 'Cizynski', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Katie'}, 'distinct_id': '2953', 'time': 1453997311942},
       {'properties': {'Email': 'henkel@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Henekl'}, 'distinct_id': '3013', 'time': 1454202300418},
       {'properties': {'Email': 'wb@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'William Blair'}, 'distinct_id': '3023', 'time': 1454202345481},
       {'properties': {'Email': 'goldman@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Goldman Sachs'}, 'distinct_id': '3161', 'time': 1455683343254},
       {'properties': {'company_visited': [191], 'Email': 'citi@relishmba.com', 'company_visited_count': 1, '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Citi'}, 'distinct_id': '4411', 'time': 1466644945387},
       {'properties': {'Email': 'archerroose@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Archer Roose'}, 'distinct_id': '3136', 'time': 1455485864587},
       {'properties': {'Email': 'saucker@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Aucker', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Sara'}, 'distinct_id': '2987', 'time': 1454027143444},
       {'properties': {'Email': 'mercer@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Mercer'}, 'distinct_id': '3017', 'time': 1454202320775},
       {'properties': {'Email': 'baird@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Robert W. Baird & Co'}, 'distinct_id': '3021', 'time': 1454202335010},
       {'properties': {'Email': 'kaiser@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Kaiser Permanente'}, 'distinct_id': '3015', 'time': 1454202306257},
       {'properties': {'Email': 'typezero@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'TypeZero'}, 'distinct_id': '3180', 'time': 1456080093097},
       {'properties': {'Email': 'split@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Split'}, 'distinct_id': '3399', 'time': 1458869462756},
       {'properties': {'Email': 'ge@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'GE'}, 'distinct_id': '3228', 'time': 1457321201946},
       {'properties': {'Email': 'recruiter@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Recruiter'}, 'distinct_id': '3288', 'time': 1458437131689},
       {'properties': {'Email': 'moelis@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Moelis & Company'}, 'distinct_id': '3019', 'time': 1454202325903},
       {'properties': {'Email': 'akritzer@relishmba.com', '$timezone': 'America/New_York', 'Last Name': 'Kritzer', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'Andrew'}, 'distinct_id': '3154', 'time': 1455572243872},
       {'properties': {'Email': 'vinconnect@relishmba.com', '$timezone': 'America/New_York', 'Last Name': '', '$country_code': 'US', '$region': 'Virginia', '$city': 'Ashburn', 'First Name': 'VinConnect'}, 'distinct_id': '3135', 'time': 1455484913662}], dtype=object)

In [ ]:
id_student=[]
for p in people:
    try:
        if p['properties']["Role"]=="student":
                id_student.append(p["distinct_id"])
    except KeyError:
        pass
id_student

In [46]:
user_id_length=[len(user_id) for user_id in id_student]

In [47]:
Counter(user_id_length)

Counter({2: 12, 3: 98, 4: 1727})

In [34]:
"Student".lower()

'student'